html, body, #mask {
  /* Height and width fallback for older browsers. */
  height: 100%;
  width: 100%;
  /* Set the height & width to match that of the viewport. */
  height: 95vh;
  width: 98vw;
  /* Remove any browser-default margins. */
  margin: 0;
}

.leaflet-control-layers-expanded {
  font-size: small;
}

#map {
  height: 80vh;
  border: 2px black solid;
}

body {
  font-family: Helvetica,sans-serif;
  background: #ffffff;
  font-weight: 100;
}

table {
}

td {
  vertical-align: top;
}

li {
  font-size: small;
}

td > form {
  margin-left: 10pt;
}

a {
  word-wrap: break-word;
  word-break: break-all;
}

#side_top {
  /*height: 20vh;*/
  padding-left: 3pt;
  width: 25%;
}

#side_bottom {
  overflow: scroll;
  padding-left: 3pt;
  max-height: 65vh;
}

h1 {
  font-size: 18pt;
  font-weight: lighter;
  text-align: center;
  margin-top: .1em;
}

h2 {
  font-weight: 100;
  font-size: 11pt;
  margin-bottom: 1pt;
  margin-left: 1pt;
  margin-top: 0pt;
}

.leaflet-container {
  font: inherit;
}

#bottom {
  height: 10vh;
  border-top: solid grey 1px;
  padding-top: 20px;
  font-size: small;
}